<div class="mini-editorial" aria-hidden="true">
  <div class="mini-editorial__stripe"></div>
  <div class="mini-editorial__name"></div>
  <div class="mini-editorial__role"></div>
  <div class="mini-editorial__content">
    <div class="mini-editorial__heading"></div>
    <div class="mini-editorial__rule"></div>
    <div class="mini-editorial__line mini-editorial__line--wide"></div>
    <div class="mini-editorial__line"></div>
    <div class="mini-editorial__line mini-editorial__line--short"></div>
    <div class="mini-editorial__heading mini-editorial__heading--second"></div>
    <div class="mini-editorial__rule"></div>
    <div class="mini-editorial__line mini-editorial__line--wide"></div>
  </div>
</div>
