<div class="mini-classic" aria-hidden="true">
  <div class="mini-classic__name"></div>
  <div class="mini-classic__role"></div>
  <div class="mini-classic__rule"></div>
  <div class="mini-classic__heading"></div>
  <div class="mini-classic__line mini-classic__line--wide"></div>
  <div class="mini-classic__line"></div>
  <div class="mini-classic__line mini-classic__line--short"></div>
  <div class="mini-classic__rule"></div>
  <div class="mini-classic__heading mini-classic__heading--small"></div>
  <div class="mini-classic__skills"></div>
</div>
